# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries, profiling data, test output
*.test
*.out
cover.out

# Dependency directories
vendor/

# xcaffold CLI outputs
/xcaffold
/.claude/
scaffold.lock

# Code analysis cache
.codesight/

# IDE / OS specific ignoring
.idea/
.vscode/
*.swp
.DS_Store
.worktrees/
.saero
